.logo {
    height: 80px;
    width: 100px;
    scale: 1.4;
    transition: transform 0.3s ease;
  }
  
  .logo:hover {
    transform: scale(1.6);
  }
  
.property-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  .property-details h2 {
    font-size: 2.5rem;
    color: rgb(122, 118, 118);
    margin-bottom: 20px;
    text-align: center;
  }
  
  .image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .property-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .property-image:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  
  .details-info {
    text-align: center;
    padding: 15px;
    font-size: 1.1rem;
    color: #555;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
  }
  
  .details-info p {
    margin: 10px 0;
    line-height: 1.6;
    color: #007BFF;
  }
  
  .details-info strong {
    color: #333;
  }
  
  .inquire-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .inquire-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  
  @media (max-width: 768px) {
    .property-details {
      padding: 15px;
    }
  
    .image-gallery {
      grid-template-columns: 1fr;
    }
  
    .property-image {
      height: 150px;
    }
  
    .details-info {
      font-size: 1rem;
    }
  }
  