* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f0f0f0;
  
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-image: url("../public/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 10px;
  background: rgba(143, 160, 213, 0.85);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: all 0.3s ease;
  
}

.header:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.logo {
  height: 80px;
  width: 100px;
  scale: 1.4;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.6);
}

.nav-links {
  display: flex;
  justify-content: flex-end; 
  flex-grow: 1; 
}

.nav-links a {
  color: #333;
  text-decoration: none;
  font-size: 1rem;
  margin: 0 15px;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #006ce0;
}

.nav-links a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: #007BFF;
  left: 50%;
  bottom: -2px;
  transition: all 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
  left: 0;
}

main {
  background: rgba(0, 0, 0, 0.6); 
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  max-width: 700px;
  margin-top: 60px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  animation: fadeInUp 0.8s ease forwards;
  transform: translateY(20px);
  opacity: 0;
}

@keyframes fadeInUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

h1 {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

p {
  font-size: 1.25rem;
  color: #ddd;
  margin-bottom: 30px;
  line-height: 1.6;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.search-input {
  width: 300px;
  padding: 12px 20px;
  border-radius: 30px;
  border: 1px solid #ddd;
  outline: none;
  transition: box-shadow 0.3s ease;
  font-size: 1rem;
}

.search-input:focus {
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

.search-button {
  background-color: #007BFF;
  border: none;
  color: #fff;
  padding: 10px 16px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .header {
    flex-direction: column;
    padding: 15px;
  }

  .nav-links {
    margin-top: 10px;
  }

  main {
    padding: 20px;
    margin-top: 30px;
  }

  .search-input {
    width: 100%;
    max-width: 250px;
  }
}
