.logo {
    height: 80px;
    width: 100px;
    scale: 1.4;
    transition: transform 0.3s ease;
    display: block; 
    margin: 0 auto; 
  }
  
  .logo:hover {
    transform: scale(1.6);
  }

.post-listing-container {
    background-color: #1c1c1c;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    max-width: 800px;
    margin: 40px auto;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  
  .post-listing-container  h2 {
    font-size: 32px;
    margin-bottom: 30px;
    color: #007BFF; 
  }
  
  .post-listing-container input,
  .post-listing-container textarea,
  .post-listing-container select {
    width: 80%;
    padding: 14px;
    margin-bottom: 20px;
    border: 1px solid #444;
    background-color: #2a2a2a;
    color: #f0f0f0;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  
  .post-listing-container input:focus,
  .post-listing-container textarea:focus,
  .post-listing-container select:focus {
    outline: none;
    border-color: #007BFF;
    background-color: #333;
  }
  
  .post-listing-container button {
    background-color: #007BFF;
    color: #fff;
    padding: 16px 24px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    width: 80%;
    transition: background-color 0.3s ease;
  }
  
  .post-listing-container button:hover {
    background-color: #007BFF;
  }
  
  .post-listing-container input[type="file"] {
    background-color: #2a2a2a;
    color: #f0f0f0;
    padding: 14px;
    border: 1px solid #444;
    width: 80%;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .post-listing-container .image-preview {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .post-listing-container .image-preview img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 10px;
  }
  
  @media (max-width: 600px) {
    .post-listing-container {
      padding: 20px;
      margin: 20px;
    }
  
    .post-listing-container input,
    .post-listing-container textarea,
    .post-listing-container select,
    .post-listing-container button,
    .post-listing-container input[type="file"] {
      width: 100%;
    }
  }
  