.search-listings-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.logo {
  display: block;
  max-width: 150px;
  margin: 0 auto 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
}

.filters input,
.filters select,
.filters button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 200px;
}

.filters input[type="text"],
.filters input[type="number"] {
  width: 250px;
}

.filters button {
  background-color: #697269;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filters button:hover {
  background-color: #007BFF;
}

.listing-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.listing-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.listing-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.listing-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.listing-item h3 {
  margin: 10px;
  font-size: 18px;
  color: #333;
}

.listing-item p {
  margin: 10px;
  font-size: 16px;
  color: #888;
}

.listing-item button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.listing-item button:hover {
  background-color: #0056b3;
}
